.app {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 2em;
}
.editor-wrapper {
  cursor: text;
  height: auto;
  border: 1px solid #c0c0c0;
  min-width: 14em;
  min-height: 9em;
  padding: 0.65em;
  border-radius: 2px;
  background-color: white;
}
 
.editor-wrapper .suggestions.overlay {
  position: absolute;
  margin-top: 1.2em;
}

/**
 * General styles not directly related to 
 * the functioality of this pen.
 */
body {
  font: 300 22px/1.675 Helvetica Neue, Roboto, Arial, sans-seif;
  background-color: hsl(218, 100%, 98%);
}
p {
  text-align: center;
  padding: 0 6vw;
}
.component-wrapper {
  border: 1px solid #e0e0e0;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}